{% extends "base.html" %}
{% block title %}Calendar{% endblock %}
{% block content %}
<head>
    <link rel="stylesheet" href="{{url_for('static', filename='calendarstyle.css')}}">
</head>
    
<body>
    <br><br>
    <div class="container">
        <br>
        <div class="row">
            <div class="calendar col-md-8 offset-md-4">
                <div>
                    <div class="card-header bg-primary">
                        <ul>
                            <li id="month" class="text-white text-uppercase text-center">
                            </li>
                            <li id="year" class="text-white text-uppercase text-center">
                            </li>
                        </ul>
                    </div>
                    <table class="table calendar table-bordered table-responsive-sm" id="calendar">
                        <thead>
                            <tr class="weekdays bg-dark">
                              <th scope="col" class="text-white text-center">Mo</th>
                              <th scope="col" class="text-white text-center">Tu</th>
                              <th scope="col" class="text-white text-center">We</th>
                              <th scope="col" class="text-white text-center">Th</th>
                              <th scope="col" class="text-white text-center">Fr</th>
                              <th scope="col" class="text-white text-center">Sa</th>
                              <th scope="col" class="text-white text-center">Su</th>
                            </tr>
                          </thead>
                        <tbody class="days bg-light" id="days"></tbody>
                        <tfoot></tfoot>
                    </table>
                </div>
            </div>
            <div class="col offset-md-0">
                <form id="form_create_appointment">
                    <div class="form-row">
                        <div class="col form-group">
                            <label class="required">Date</label>
                            <input class="form-control date-input" type="text" id="date" data-trigger="hover" data-toggle="popover" title="Date" data-content="You can select any date from today clicking on the number in the calendar" required>
                        </div>
                        <div class="col form-group">
                            <label>Description</label>
                            <input class="form-control" type="text" id="description">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col form-group">
                            <label class="required">Start Time</label>
                            <input class="form-control time-input" type="text" id="start_time" required>
                        </div>
                        <div class="col form-group">
                            <label class="required">End Time</label>
                            <input class="form-control time-input" type="text" id="end_time" required>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col form-group">
                            <button type="button" class="btn btn-warning btn-block" id="clear" onclick="clear_input()">Clear Form</button>
                        </div>
                        <div class="col form-group">
                            <button type="button" class="btn btn-primary btn-block" id="submit" onclick="make_appointment()" disabled="disabled">Make Appointment</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col offset-md-1">
                <div class="row">
                    <div class="col">
                        <h3>Appointments</h3>
                    </div>
                    <div class="col form-group">
                        <button type="button" class="btn btn-danger btn-block" id="btn_clear_storage" onclick="clear_storage()">Clear Appointments</button>
                    </div>
                </div>
                <table class="table table-bordered table-hover table-striped table-sm" id="appointment_list">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col" class="text-center align-middle">Date</th>
                            <th scope="col" class="text-center align-middle">Description</th>
                            <th scope="col" class="text-center align-middle">Start time</th>
                            <th scope="col" class="text-center align-middle">End time</th>
                            <th scope="col" class="text-center align-middle">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
            <form id="form_create_workout">
                <div class="form-row">
                    <div class="col form-group"> 
                        <h3>Edit Custom Workout</h3>
                        <label class="required">Title</label>
                        <input class="form-control" type="text" id="title">
                    </div>
                    <div class="col form-group">
                        <label>Description</label>
                        <input class="form-control" type="text" id="description2">
                    </div>
                </div>
                <div class="form-row">
                    <div class="col form-group">
                        <label>Difficulty</label>
                        <button class="btn btn-secondary dropdown-toggle mr-2" style="float:right" type="button" id="difficulty" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item">5</a>
                            <a class="dropdown-item">4</a>
                            <a class="dropdown-item">3</a>
                            <a class="dropdown-item">2</a>
                            <a class="dropdown-item">1</a>
                        </div>
                    </div>
                    <div class="col form-group">
                        <label class="required">Duration in Minutes</label>
                        <input class="form-control time-input" type="text" id="duration" required>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col form-group">
                        <button type="button" class="btn btn-warning btn-block" id="clear" onclick="clear_workout()">Clear Form</button>
                    </div>
                    <div class="col form-group">
                        <button type="button" class="btn btn-primary btn-block" id="submit" onclick="make_custom_workout()" disabled="disabled">Make Custom Workout</button>
                    </div>
                </div>
            </form>
            <div class="col offset-md-1">
                <div class="row">
                    <div class="col">
                        <h3>Workouts</h3>
                    </div>
                    <div class="col form-group">
                        <button type="button" class="btn btn-danger btn-block" id="btn_clear_storage" onclick="clear_storage()">Clear Workouts</button>
                    </div>
                </div>
                <table class="table table-bordered table-hover table-striped table-sm" id="appointment_list">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col" class="text-center align-middle">Title</th>
                            <th scope="col" class="text-center align-middle">Description</th>
                            <th scope="col" class="text-center align-middle">Difficulty</th>
                            <th scope="col" class="text-center align-middle">Duration</th>
                            <th scope="col" class="text-center align-middle">Training Type</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>

        <br><hr>

        
        <br><br><br>
    </div>
    <script src="{{ url_for('static', filename='ItemEvents.js') }}"></script>
</body>
      
{% endblock %}