{% extends "base.html" %}
{% block title %}Calendar{% endblock %}
{% block content %}
<head>
    <link rel="stylesheet" href="{{url_for('static', filename='calendarstyle.css')}}">
</head>
    
<body>
    <div class="tab">
        <button class="tablinks" onclick="tab_click(event, 'Appointments')" id="defaultOpen">Appointments</button>
        {% if current_user.role == 'client' %}
        <button class="tablinks" onclick="tab_click(event, 'Workouts')">Workouts</button>
        <button class="tablinks" onclick="tab_click(event, 'Meals')">Meals</button>
        <button class="tablinks" onclick="tab_click(event, 'Sleep')">Sleep Tracking</button>
        {% endif %}
    </div>

    <script>
        $(document).ready(function() {
            let current_tab = '{{ tab }}'
            if (current_tab == 'workout') {
                tab_click(event, 'Workouts')
            } else if (current_tab == 'appointment') {
                tab_click(event, 'Appointments')
            } else if (current_tab == 'meal'){
                tab_click(event, 'Meals')
            } else{
                tab_click(event, 'Sleep')
            }
        });
        function tab_click(evt, tabName) {
            // Declare all variables
            var i, tabcontent, tablinks;
        
            // Get all elements with class="tabcontent" and hide them
            tabcontent = document.getElementsByClassName("tabcontent");
            for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
            }
        
            // Get all elements with class="tablinks" and remove the class "active"
            tablinks = document.getElementsByClassName("tablinks");
            for (i = 0; i < tablinks.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" active", "");
            }
        
            // Show the current tab, and add an "active" class to the button that opened the tab
            document.getElementById(tabName).style.display = "block";
            evt.currentTarget.className += " active";
        } 
        document.getElementById("defaultOpen").click();
    </script>

    <div id="Appointments" class="tabcontent">
        <br><br>
        <div class="container">
            <br>
            <div class="form-row">
                <div class="col form-group">
                    <h2>Create Appointments</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <form id="form_create_appointment">
                        <div class="form-row">
                            <div class="col form-group">
                                <label class="required">Date</label>
                                <input class="form-control date-input" type="text" id="date" data-trigger="hover" data-toggle="popover" title="Date" data-content="You can select any date from today clicking on the number in the calendar" required>
                            </div>
                            <div class="col form-group">
                                <label>Description</label>
                                <input class="form-control" type="text" id="description">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col form-group">
                                <label class="required">Start Time</label>
                                <input class="form-control time-input" type="text" id="start_time" required>
                            </div>
                            <div class="col form-group">
                                <label class="required">End Time</label>
                                <input class="form-control time-input" type="text" id="end_time" required>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col form-group">
                                <button type="button" class="btn btn-warning btn-block" id="clear" onclick="clear_input()">Clear Form</button>
                            </div>
                            <div class="col form-group">
                                <button type="button" class="btn btn-primary btn-block" id="submit" onclick="make_appointment()" disabled="disabled">Make Appointment</button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="calendar col-md-8">
                    <div>
                        <div class="card-header bg-primary">
                            <ul>
                                <li id="month" class="text-white text-uppercase text-center">
                                </li>
                                <li id="year" class="text-white text-uppercase text-center">
                                </li>
                            </ul>
                        </div>
                        <table class="table calendar table-bordered table-responsive-sm" id="calendar">
                            <thead>
                                <tr class="weekdays bg-dark">
                                <th scope="col" class="text-white text-center">Mo</th>
                                <th scope="col" class="text-white text-center">Tu</th>
                                <th scope="col" class="text-white text-center">We</th>
                                <th scope="col" class="text-white text-center">Th</th>
                                <th scope="col" class="text-white text-center">Fr</th>
                                <th scope="col" class="text-white text-center">Sa</th>
                                <th scope="col" class="text-white text-center">Su</th>
                                </tr>
                            </thead>
                            <tbody class="days bg-light" id="days"></tbody>
                            <tfoot></tfoot>
                        </table>
                    </div>
                </div>
            </div>

            <br><hr>

            <div class="row">
                <div class="col offset-md-0">
                    <div class="row">
                        <div class="col">
                            <h3>Appointments</h3>
                        </div>
                    </div>
                    <table class="styled-table" id="appointment_list">
                        <thead class="thead">
                            <tr>
                                <th scope="col" class="text-center align-middle">Date</th>
                                <th scope="col" class="text-center align-middle">Description</th>
                                <th scope="col" class="text-center align-middle">Start time</th>
                                <th scope="col" class="text-center align-middle">End time</th>
                                <th scope="col" class="text-center align-middle">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
            <br><br><br>
        </div>    
    </div>
    {% if current_user.role == 'client' %}
    <div id="Workouts" class="tabcontent">
            <div class="form-row">
                <div class="col form-group">
                    <h2>Create Workouts</h2>
                </div>
            </div>
            <form id="form_create_workout" method="POST">
                <div class="form-row">
                    <div class="col form-group"> 
                        <label class="required">Title</label>
                        <input class="form-control" type="text" id="title" name="title">
                    </div>
                    <div class="col form-group">
                        <label>Description</label>
                        <input class="form-control" type="text" id="description2" name="description2">
                    </div>
                    <div class="col form-group">
                        <label class="required">Difficulty</label>
                        <select id="difficulty" name="difficulty" class="form-control" required>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                        </select>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col form-group">
                        <label class="required">Duration in Minutes</label>
                        <input class="form-control" type="text" id="duration" name="duration" required>
                    </div>
                    <div class="col form-group">
                        <label class="required">Training Type</label>
                        <select id="training_type" name="training_type" class="form-control" required>
                            <option value="Cardio">Cardio</option>
                            <option value="Strength Training">Strength Training</option>
                            <option value="Flexibility">Flexibility</option>
                            <option value="Endurance Training">Endurance Training</option>
                            <option value="Core Training">Core Training</option>
                            <option value="Other" selected>Other</option>
                        </select>
                    </div>
                    <div class="col form-group">
                        <label>content_id</label>
                        <input class="form-control" type="text" id="content_id" name="content_id">
                    </div>
                </div>
                <div class="form-row">
                    <div class="col form-group">
                        <button type="button" class="btn btn-warning btn-block" id="clear" onclick="clear_workout()">Clear Form</button>
                    </div>
                    <div class="col form-group">
                        <button type="submit" name="create_workout_button" value="pressed" class="btn btn-primary btn-block" id="submit_workout" disabled="disabled">Make Workout</button>
                    </div>
                </div>
            </form>
            <div class="col offset-md-0">
                <row>
                    <div class="col-xl-6">
                        <div class="row">
                            <div class="col justify-content-center">
                                <h3>Workouts</h3>
                            </div>
                        </div>
                        <table class="styled-table" id="workout_list">
                            <thead class="thead-dark">
                                <tr>
                                    <th scope="col" class="text-center align-middle">Title</th>
                                    <th scope="col" class="text-center align-middle">Description</th>
                                    <th scope="col" class="text-center align-middle">Difficulty</th>
                                    <th scope="col" class="text-center align-middle">Duration</th>
                                    <th scope="col" class="text-center align-middle">Training Type</th>
                                    <th scope="col" class="text-center align-middle">Content ID</th>
                                    <th scope="col" class="text-center align-middle">Complete/Delete</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for id, workout in custom_workouts.items() %}
                                <tr>
                                    <td scope="col" class="text-center align-middle">{{ workout['title'] }}</td>
                                    <td scope="col" class="text-center align-middle">{{ workout['description'] }}</td>
                                    <td scope="col" class="text-center align-middle">{{ workout['difficulty'] }}</td>
                                    <td scope="col" class="text-center align-middle">{{ workout['duration'] }}</td>
                                    <td scope="col" class="text-center align-middle">{{ workout['training_type'] }}</td>
                                    <td scope="col" class="text-center align-middle">
                                        {% if workout['content_id'] != "" %}
                                        <form method="POST">
                                            <button type="submit" name="content_button" class="btn btn-primary" value="{{workout['content_id']}}">Go to {{workout['content_id']}}</button>
                                        </form>
                                        {% endif %}
                                    </td>
                                    <td class="text-center align-middle">
                                        <form method="POST">
                                            <button type="submit" class="btn btn-secondary btn-sm" name="complete_workout" value="{{workout['workout_id']}}"></button><i class="fas"></i></button>
                                            <button type="submit" class="btn btn-danger btn-sm" name="delete_workout" value="{{workout['workout_id']}}"></button><i class="fas fa-trash"></i></button>
                                        </form>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div class="col-xl-6">
                        <canvas style="width:100%;" id="myChart" width="400" height="250"></canvas>
                        <script>
                                Chart.defaults.global.responsive = false;
                            // define the chart data
                            var number_of_workouts = '{{workout_chart_data[0]|tojson|safe }}'
                            var workout_minutes = '{{workout_chart_data[1]|tojson|safe }}'
                            console.log(number_of_workouts)
                            console.log(workout_minutes)
                            var number_of_workouts_list
                            var workout_minutes_list
                            var chartData = {
                                labels : ['Cardio', 'Strength Training', 'Flexibility', 'Endurance Training', 'Core Training', 'Other'],
                                datasets : [{
                                    label: "Number of Workouts",
                                    fill: true,
                                    lineTension: 0.1,
                                    backgroundColor: "rgba(75,192,192,0.4)",
                                    borderColor: "rgba(75,192,192,1)",
                                    borderCapStyle: 'butt',
                                    borderDash: [],
                                    borderDashOffset: 0.0,
                                    borderJoinStyle: 'miter',
                                    pointBorderColor: "rgba(75,192,192,1)",
                                    pointBackgroundColor: "#fff",
                                    pointBorderWidth: 1,
                                    pointHoverRadius: 5,
                                    pointHoverBackgroundColor: "rgba(75,192,192,1)",
                                    pointHoverBorderColor: "rgba(220,220,220,1)",
                                    pointHoverBorderWidth: 2,
                                    pointRadius: 1,
                                    pointHitRadius: 10,
                                    data: number_of_workouts,
                                    spanGaps: false
                                }, {
                                    label: "Workout Minutes",
                                    fill: true,
                                    lineTension: 0.1,
                                    backgroundColor: "rgba(192,75,192,0.4)",
                                    borderColor: "rgba(75,192,192,1)",
                                    borderCapStyle: 'butt',
                                    borderDash: [],
                                    borderDashOffset: 0.0,
                                    borderJoinStyle: 'miter',
                                    pointBorderColor: "rgba(75,192,192,1)",
                                    pointBackgroundColor: "#fff",
                                    pointBorderWidth: 1,
                                    pointHoverRadius: 5,
                                    pointHoverBackgroundColor: "rgba(75,192,192,1)",
                                    pointHoverBorderColor: "rgba(220,220,220,1)",
                                    pointHoverBorderWidth: 2,
                                    pointRadius: 1,
                                    pointHitRadius: 10,
                                    data: workout_minutes,
                                    spanGaps: false
                                }
                                ]
                            }
                            
                            // get chart canvas
                            var ctx = document.getElementById("myChart").getContext("2d");
                            
                            // create the chart using the chart canvas
                            var myChart = new Chart(ctx, {type: 'line', data: chartData,});
                        </script>
                    </div>
                </div>
                </row>
            </div>
    <div id="Meals" class="tabcontent">
        <div class="form-row">
            <div class="col form-group">
                <h2>Track Calorie Consumption</h2>
            </div>
        </div>

            <form id="form_create_meal" method="POST">
                <div class="form-row">
                    <div class="col form-group"> 
                        <label>Entree</label>
                        <input class="form-control" type="text" id="entree" name="entree">
                    </div>
                    <div class="col form-group">
                        <label>Sides</label>
                        <input class="form-control" type="text" id="sides" name="sides">
                    </div>
                </div>
                <div class="form-row">
                    <div class="col form-group">
                        <label>Drink</label>
                        <input class="form-control" type="text" id="drink" name="drink">
                    </div>
                    <div class="col form-group">
                        <label class="required">Total Calories</label>
                        <input class="form-control" type="text" id="total_calories" name="total_calories" required>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col form-group">
                        <button type="button" class="btn btn-warning btn-block" id="clear" onclick="clear_meal()">Clear Form</button>
                    </div>
                    <div class="col form-group">
                        <button type="submit" name="create_meal_button" value="pressed" class="btn btn-primary btn-block" id="submit_meal" disabled="disabled">Add Meal</button>
                    </div>
                </div>
            </form>
            <div class="col offset-md-0">
                <div class="row">
                    <div class="col">
                        <h3>Meals</h3>
                    </div>
                </div>
                <table class="styled-table" id="meal_list">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col" class="text-center align-middle">Entree</th>
                            <th scope="col" class="text-center align-middle">Sides</th>
                            <th scope="col" class="text-center align-middle">Drink</th>
                            <th scope="col" class="text-center align-middle">Total Calories</th>
                            <th scope="col" class="text-center align-middle">Complete/Delete</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for id, meal in meals.items() %}
                        <tr>
                            <td scope="col" class="text-center align-middle">{{ meal['entree'] }}</td>
                            <td scope="col" class="text-center align-middle">{{ meal['sides'] }}</td>
                            <td scope="col" class="text-center align-middle">{{ meal['drink'] }}</td>
                            <td scope="col" class="text-center align-middle">{{ meal['total_calories'] }}</td>
                            <td class="text-center align-middle">
                                <form method="POST">
                                    <button type="submit" class="btn btn-secondary btn-sm" name="complete_meal" value="{{id}}"></button><i class="fas"></i></button>
                                    <button type="submit" class="btn btn-danger btn-sm" name="delete_meal" value="{{id}}"></button><i class="fas fa-trash"></i></button>
                                </form>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>

        </div>
        <div id="Sleep" class="tabcontent">
            <div class="form-row">
                <div class="col form-group">
                    <h2>Track Sleep Cycle</h2>
                </div>
            </div>

            <form id="form_create_sleep" method="POST">
                <div class="form-row">
                    <div class="col form-group">
                        <label class="required">Date</label>
                        <input class="form-control" type="text" id="sleep_date" name="sleep_date" required>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col form-group">
                        <label class="required">Planned Time for Bed</label>
                        <input class="form-control" type="text" id="start_sleep" name="start_sleep" required>
                    </div>
                    <div class="col form-group">
                        <label class="required">Planned Time for Wake-up</label>
                        <input class="form-control" type="text" id="end_sleep" name="end_sleep" required>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col form-group">
                        <button type="button" class="btn btn-warning btn-block" id="clear" onclick="clear_sleep()">Clear Form</button>
                    </div>
                    <div class="col form-group">
                        <button type="submit" name="create_sleep_button" value="pressed" class="btn btn-primary btn-block" id="submit_sleep" disabled="disabled">Add Sleep</button>
                    </div>
                </div>
            </form>

            <div class="col offset-md-0">
                <div class="row">
                    <div class="col">
                        <h3>Sleep Cycles</h3>
                    </div>
                </div>
                <table class="styled-table" id="meal_list">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col" class="text-center align-middle">Date</th>
                            <th scope="col" class="text-center align-middle">Time Difference</th>
                            <th scope="col" class="text-center align-middle">Sleep Time</th>
                            <th scope="col" class="text-center align-middle">Wake-up Time</th>
                            <th scope="col" class="text-center align-middle">Complete/Delete</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for id, sleep in sleep.items() %}
                        <tr>
                            <td scope="col" class="text-center align-middle">{{ sleep['sleep_date'] }}</td>
                            <td scope="col" class="text-center align-middle">{{ sleep['hours']}} hours and {{sleep['minutes']}} minutes</td>
                            <td scope="col" class="text-center align-middle">{{ sleep['start_sleep'] }}</td>
                            <td scope="col" class="text-center align-middle">{{ sleep['end_sleep'] }}</td>
                            <td class="text-center align-middle">
                                <form method="POST">
                                    <button type="submit" class="btn btn-secondary btn-sm" name="complete_sleep" value="{{id}}"></button><i class="fas"></i></button>
                                    <button type="submit" class="btn btn-danger btn-sm" name="delete_sleep" value="{{id}}"></button><i class="fas fa-trash"></i></button>
                                </form>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>

        </div>   
    </div>
    {% endif %}
    <script src="{{ url_for('static', filename='ItemEvents.js') }}"></script>
</body>
      
{% endblock %}