{% extends "base.html" %}
{% block title %}Content Title{% endblock %}
{% block content %}
    <div class="row justify-content-center">
        <div class="col-md-9">
            {% if current_user.role == "admin" %}
            <button type="submit" class="btn btn-block btn-danger mb-3">Delete video</button>
            {% endif %}
            <div class="card mb-3">
                <iframe src="{{ bucket_src }}" width="100%"></iframe>
                {% endif %}
                <div class="card-body">
                    <h1 class="card-title">{{ title }}</h1>
                    <p>{{ description }}</p>
                    <p class="text-muted">Uploaded on {{ content_date }} by <a href="{{ user_path }}">{{ created_user }}</a></p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}