{% extends "base.html" %}
{% block title %}Dashboard{% endblock %}
{% block content %}
    <h1>Hello, {{user.user_id}}!</h1>
    <h3>Recently Uploaded</h3>
    <div class="row flex-row flex-nowrap overflow-auto">
        {% for x in range(0,5)%}
        <div class="col-auto mb-3">
            <div class="card h-100" style="width:250px">
                <div class="card-body">
                    <p>test content card</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock %}