{% extends "base.html" %}
{% block title %}Dashboard{% endblock %}
{% block content %}
    <h1>Hello, {{user.first_name}}!</h1>
    <hr/>
    {% if current_user.role == 'admin' %}
    <div class="row">
        <div class="card w-100">
            <div class="card-header">
                Admin Metrics
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6">
                        <h4>User data</h4>
                        <li>Total user count: {{total_users}}</li>
                        <li>Trainee users: {{type_count[0]}}</li>
                        <li>Trainer users: {{type_count[1]}}</li>
                        <li>Admin users: {{type_count[2]}}</li>
                    </div>
                    <div class="col-md-6">
                        <h4>Content data</h4>
                        <li>Total content count: {{total_content}}</li>
                        <li>Uploaded today: {{uploaded_today}}</li>
                        <li>Views today:</li>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr/>
    {% endif %}
    <h3>Recently Uploaded</h3>
    <div class="row flex-row flex-nowrap overflow-auto">
        {% for item in recent%}
        <div class="col-auto mb-3">
            <div class="card h-100" style="width:250px">
                <img class="card-img-top" style="height: 140.625px; object-fit:cover;" src="{{item['content']['bucket_info']['thumbnail_link']}}" alt="thumbnail">
                <div class="card-body">
                    <h5 class="card-title" style="text-overflow: ellipsis; white-space: nowrap; overflow: hidden;"><a href="/content/{{item['content']['bucket_info']['object_name'][-36:]}}">{{item['content']['title']}}</a></h5>
                    <p><small class="text-muted">Uploaded by {{item['email']}} on {{item['content']['date']}}</small></p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <hr/>
{% endblock %}