.login{
    background:green;
    width:330px;
    text-shadow: 0px 2px 3px rgba(0, 0, 0, 1);
    font-family:'Oswald', Helvetica, Arial, sans-serif;
    color:#fff;
    font-size:13px;
    font-weight:700;
    text-transform:uppercase;
        text-align:center;
    padding:0px 0px 16px 0px;
    margin:0px 0px 10px 1px;
    float:left;
    vertical-align:top;
    
    }
    
    textarea, input {
        color: #666;
        padding: 5px;
        border: solid 1px #E5E5E5;
        background: url(../images/textfield.png) 0 0 repeat-x white;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        transition: all 0.35s ease-in-out;
        -moz-transition: all 0.35s ease-in-out;
        -webkit-transition: all 0.35s ease-in-out;
        -o-transition: all 0.35s ease-in-out;
        width:220px;
    }
    textarea:focus, input:focus {
        outline:none;
    }
    textarea:hover, input:hover, textarea:active, input:active {
        border:1px solid #2ac0ff;
        transition: all 0.35s ease-in-out;
        -moz-transition: all 0.35s ease-in-out;
        -webkit-transition: all 0.35s ease-in-out;
        -o-transition: all 0.35s ease-in-out;
    }
    textarea {
        background: url(../images/textarea.png) 0 0 repeat-x white;
        height:152px;
    }
    li {
        list-style: none;
    }
