{% extends "base.html" %}
{% block title %}Messages{% endblock %}
{% block content %}
<div class="row">
    <div class="col-xl-4">
        <div class="list-group" style="height:80vh; overflow:scroll;" id="messages">
            {% for x in range(0,10) %}
            <a class="list-group-item list-group-item-action" data-toggle="list" href="#conv_{{x}}" role="tab">
                <h5>person {{x}}</h5>
                <p class="text-muted mb-1">latest message</p>
            </a>
            {% endfor %}
        </div>
    </div>
    <div class="col-xl-8">
        <div class="tab-content" id="nav-tabContent">
            {% for x in range(0,10) %}
            <div class="tab-pane" id="conv_{{x}}" role="tabpanel">
                <iframe src="/conversation/test{{x}}" style="height: 80vh; border:none;" width="100%"></iframe>
                test{{x}}
            </div>
            {% endfor %}
        </div>
        <p>display conversation using javascript here (and maybe iframes)</p>
    </div>
</div>
<script>
    $('#messages a').on('click', function (e) {
        e.preventDefault()
        $(this).tab('show')
    })
</script>
{% endblock %}