{% extends "base.html" %}
{% block title %}Moderate{% endblock %}
{% block content %}
<h2>Pending moderation</h2>
    {% for x in unapproved %}
        <div class="row">
            <div class="col-xl-12">
                <div class="card mb-3">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-xl-3">
                                <a href="#" target="_blank">
                                    <img style="width: 100%;" src="{{x['content']['thumbnail_link']}}">
                                </a>
                            </div>
                            <div class="col-xl-6">
                                <h3 style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
                                    <a href="#" target="_blank">
                                        {{x['content']['title']}}
                                    </a>
                                </h3>
                                <p class="text-muted">
                                    {{x['content']['description']}}
                                    {{x['content']}}
                                </p>
                            </div>
                            <div class="col-xl-3 align-items-center my-auto">
                                <form method="POST">
                                    <input value="{{x}}" type="hidden" name="content_id">
                                    <button class="btn btn-block btn-success" name="moderate" value="approve" type="submit">Approve</button>
                                    <button class="btn btn-block btn-danger" name="moderate" value="delete" type="submit">Delete</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}