{% extends "base.html" %}
{% block title %}Dashboard{% endblock %}
{% block content %}
<div class="bg-white">
<div class="container pt-3 h-100">
    <div class="row justify-content-center">
        <img src="{{ url_for('static', filename='logo_transparent.png') }}" class="center-block" width="auto" height="200px">
    </div>
    <div class="row justify-content-center align-self-center">
    <div class="col-md-6">
            <div class="card bg-light card-body">
                <form method="POST">
                    <h3>Email sent!</h3>
                </form>
            </div>
        </div>
    </div>
</div>
</div>
{% endblock %}