{% extends "base.html" %}
{% block title %}Dashboard{% endblock %}
{% block content %}
<div class="bg-white">
<div class="container pt-3 h-100">
    <div class="row justify-content-center align-self-center">
    <div class="col-md-6">
    <img src="https://lh5.googleusercontent.com/Jwzol20xb_4msuDh2V-6ehHgVOuGJ46gOuchxByUthRUspp2rrpXdb499kXSNG_8NI9nLT7ZX1QjeagSTaUMNA3pCeaEjO-N1uLQWwZGe4chT95MBdKt7hDeZm7loNUQTQVoLs0AuME" width="500px" height="275px">
            <div class="card bg-light card-body">
                <form method="POST">
                    <h3>Email sent!</h3>
                </form>
            </div>
        </div>
    </div>
</div>
</div>
{% endblock %}