{% extends "base.html" %}
{% block title %}{{user.first_name}}'s Profile{% endblock %}
{% if user.role == "client" %}
{% set class = "Trainee" %}
{% elif user.role == "fitness_professional" %}
{% set class = "Trainer" %}
{% else %}
{% set class = "Admin" %}
{% endif %}
{% block content %}
<div class="row align-items-center p-3">
    <div class="col-md-2">
        <img style="max-width:150px; max-height:150px; height:auto; width:auto;" class="rounded-circle border border-4 border-dark" src="{{ user_image }}">
    </div>
    <div class="col-md-8">
        <h1 class="display-3" style="font-size: 60px;">{{user.first_name}} {{user.last_name}}</h1>
        <p class="text-muted" style="font-size: 25px;">
            <small>
            {{class}}
            {% if user.role == 'fitness_professional' %}
                &bull; <img src="{{ flag_src }}"/> &bull;
                {{ gender }} &bull;
                {{ specialty }}
            {% endif %}
            </small>
        </p>
        <p class="text-muted" style="font-size: 22px;"><small>{{bio}}</small></p>
    </div>
    {% if current_user.email == user.email %}
    <div class="col-md-2">
        <button type="button" class="btn btn-link btn-block" data-toggle="modal" data-target="#edit" style="background-color: #C5D9D7;">Edit profile</button>
        <div class="modal fade" id="edit">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3>Edit profile information</h3>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                        <form method="POST" enctype="multipart/form-data">
                            <div class="form-group row">
                                <div class="col d-flex justify-content-center"><input id="profile_picture" name="profile_picture" type="file" class="form-control-file" accept="image/*"></div>
                                <div class="col d-flex justify-content-center"><span class="badge badge-secondary badge-block float-right">Choose profile picture</span></div>
                            </div>
                            {% if current_user.role == 'fitness_professional' %}
                            <div class="form-group">
                                <input type="text" id="specialty" name="specialty" placeholder="specialty" class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="gender">Gender</label>
                                <select id="gender" name="gender" class="form-control" required>
                                    <option value="" selected></option>
                                    <option value="Male">Male</option>
                                    <option value="Female">Female</option>
                                    <option value="Non-Binary">Non-Binary</option>
                                    <option value="Prefer not to say">Prefer not to say</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="country">Select Country</label>
                                <select id="country" name="country" class="form-control">
                                    <option value="" selected></option>
                                    {% for x in range(length) %}
                                        <option value="{{ country_codes[x] }}">{{ countries[country_codes[x]][0] }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            {% endif %}
                            <label for="bio">Biography</label>
                            <div class="form-group">
                                <textarea placeholder="biography" id="bio" name="bio" class="form-control"></textarea>
                            </div>
                            <button type="submit" class="btn btn-primary btn-block" style=" width: 50%; margin-left: 7.25em;">Update</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="update-pass">
            <a href="/update_password"><p class="text-center" style="background-color: #C5D9D7; border-radius: 5px;">Change password</p></a>
            {% if class == "Trainer" or class == "Trainee" %}
            <button type="button" class="btn btn-link btn-block" data-toggle="modal" data-target="#subscriptions" style="background-color: #C5D9D7;">Subscriptions</button>
            {% endif %}
            <div class="modal fade" id="subscriptions">
                <div class="modal-dialog" style="overflow-y:initial;">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h3>My subscriptions ({{subscriptions_count}})</h3>
                        </div>
                        <div class="modal-body" style="max-height: 80vh; overflow-y:auto;">
                            <ul class="list-group">
                                {% for user in subscriptions %}
                                <li class="list-group-item">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <img src="{{user['image']}}" class="rounded-circle border border-4 border-dark" style="width: 100%;">
                                        </div>
                                        <div class="col-md-9 align-self-center">
                                            <h5><a href="/user/{{user['email']}}" target="_blank">{{user['first_name']}} {{user['last_name']}}</a></h5>
                                            <p class="text-muted">{% if user['role'] == "client" %}Trainee{% else %}Trainer{% endif %}</p>
                                        </div>
                                    </div>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            {% if current_user.role == "fitness_professional" %}
            <button type="button" class="btn btn-link btn-block mt-3" data-toggle="modal" data-target="#subscribers" style="background-color: #C5D9D7;">{{subscriber_count}} subscriber{% if subscriber_count != 1%}s{% endif %}</button>
        </div>
        <div class="modal fade" id="subscribers">
            <div class="modal-dialog" style="overflow-y:initial;">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3>My subscribers</h3>
                    </div>
                    <div class="modal-body" style="max-height: 80vh; overflow-y:auto;">
                        <ul class="list-group">
                            {% for user in subscriber_list %}
                            <li class="list-group-item">
                                <div class="row">
                                    <div class="col-md-3">
                                        <img src="{{user['image']}}" class="rounded-circle border border-4 border-dark" style="width: 100%;">
                                    </div>
                                    <div class="col-md-9 align-self-center">
                                        <h5><a href="/user/{{user['email']}}" target="_blank">{{user['first_name']}} {{user['last_name']}}</a></h5>
                                        <p class="text-muted">{% if user['role'] == "client" %}Trainee{% else %}Trainer{% endif %}</p>
                                    </div>
                                </div>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
    {% elif class == "Trainer"%}
    <div class="col-md-2 justify-content-center">
        {% if current_user.role != "admin" and not(subscribed) %}
        <form method="POST">
            <button type="submit" name="action" value="subscribe" class="btn btn-block btn-primary">Subscribe</button>
        </form>
        {% elif current_user.role != "admin" and subscribed %}
        <form method="POST">
            <button type="submit" name="action" value="unsubscribe" class="btn btn-block btn-danger">Unsubscribe</button>
        </form>
        {% endif %}
        <p class="text-center text-muted">{{subscriber_count}} subscriber{% if subscriber_count != 1%}s{% endif %}</p>
        {% if current_user.role == 'client' %}
        <button type="button" class="btn btn-block btn-primary" data-toggle="modal" data-target="#new_message">+ Chat</button>
        <div class="modal fade" id="new_message">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3>New chat with {{user.first_name}}</h3>
                    </div>
                    <div class="modal-body">
                        <form method="POST">
                            <div class="form-group">
                                <textarea class="form-control" name="message" id="message" placeholder="message"></textarea>
                            </div>
                            <button class="btn btn-block btn-primary" name="action" value="new_message" type="submit">Send</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
    {% endif %}
</div>
<hr/>
<p>{{user.bio}}</p>
{% if class == "Trainee" %}
<div class="row flex-row flex-nowrap overflow-auto">
    <div class="col-auto mb-3"></div>
    <div class="col-auto mb-3">
        <table class="table table-bordered table-hover table-striped table-sm" id="workout_list">
            <thead class="thead-dark">
                <tr>
                    <th scope="col" class="text-center align-middle">Title</th>
                    <th scope="col" class="text-center align-middle">Description</th>
                    <th scope="col" class="text-center align-middle">Difficulty</th>
                    <th scope="col" class="text-center align-middle">Duration</th>
                    <th scope="col" class="text-center align-middle">Training Type</th>
                </tr>
            </thead>
            <tbody>
                {% for id, workout in custom_workouts.items() %}
                <tr>
                    <td scope="col" class="text-center align-middle">{{ workout['title'] }}</td>
                    <td scope="col" class="text-center align-middle">{{ workout['description'] }}</td>
                    <td scope="col" class="text-center align-middle">{{ workout['difficulty'] }}</td>
                    <td scope="col" class="text-center align-middle">{{ workout['duration'] }}</td>
                    <td scope="col" class="text-center align-middle">{{ workout['training_type'] }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="col-auto mb-3"></div>
</div>
{% endif %}
{% if class == "Trainer" %}
{% if current_user.email == user.email and pending|length > 0 %}
<h3>Pending approval</h3>
<div class="row flex-row flex-nowrap overflow-auto">
    {% for item in pending%}
    <div class="col-auto mb-3">
        <div class="card h-100" style="width:250px">
            <img class="card-img-top" style="height: 140.625px; object-fit:cover;" src="{{item['content']['bucket_info']['thumbnail_link']}}" alt="thumbnail">
            <div class="card-body">
                <h5 class="card-title" style="text-overflow: ellipsis; white-space: nowrap; overflow: hidden;"><a href="/content/{{item['content']['bucket_info']['object_name'][-36:]}}">{{item['content']['title']}}</a></h5>
                <p><small class="text-muted">Uploaded on {{item['content']['date']}}</small></p>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
<hr/>
{% endif %}
<h3>Uploaded by {{user.first_name}} {{user.last_name}}</h3>
    {% if uploads|length == 0 %}
    <p>This user currently has no uploads. Check back later!</p>
    {% endif %}
    <div class="row flex-row flex-nowrap overflow-auto">
        {% for item in uploads%}
        <div class="col-auto mb-3">
            <div class="card h-100" style="width:250px">
                <img class="card-img-top" style="height: 140.625px; object-fit:cover;" src="{{item['content']['bucket_info']['thumbnail_link']}}" alt="thumbnail">
                <div class="card-body">
                    <h5 class="card-title" style="text-overflow: ellipsis; white-space: nowrap; overflow: hidden;"><a href="/content/{{item['content']['bucket_info']['object_name'][-36:]}}">{{item['content']['title']}}</a></h5>
                    <p><small class="text-muted">Uploaded on {{item['content']['date']}}</small></p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
{% endif %}
<script>
    if ('{{ current_user.role }}' == 'fitness_professional') {
        var set_gender = '{{gender}}';
        document.getElementById("gender").value = set_gender;
        var set_specialty = '{{specialty}}';
        document.getElementById("specialty").value = set_specialty;
        var set_country = '{{country_name}}';
        document.getElementById("country").value = set_country;
    }
    var set_bio = '{{bio}}';
    document.getElementById("bio").value = set_bio;
    
</script>
{{user.user_id}}
{% endblock %}