<!doctype htl>
<html>
<head>
    <title>Profile</title>
    <link rel = "stylesheet" href="profiles.css">
        <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    </head>
    <body>
        <div class ="profile-card">
            <div class="image-container">
                <img src = "user.jpeg" style="width: 100%">
                <div class = "title">
                    <h2>Ben Mathew</h2>
                </div>
            </div>
            <div class="main-container">
                <p>Easy</p>
            </div>
        </div>
    </body>
