{% extends "base.html" %}
{% block title %}{{user.first_name}}'s Profile{% endblock %}
{% if user.role == "client" %}
{% set class = "Trainee" %}
{% elif user.role == "fitness_professional" %}
{% set class = "Trainer" %}
{% else %}
{% set class = "Admin" %}
{% endif %}
{% block content %}
<div class="row align-items-center p-3">
    <div class="col-md-2">
        <img style="max-height:150px; height:auto; width:auto;" class="rounded-circle border border-4 border-dark" src="https://upload.wikimedia.org/wikipedia/en/c/c6/Roisin_Murphy_-_Overpowered.png">
    </div>
    <div class="col-md-9">
        <h1 class="display-3">{{user.first_name}} {{user.last_name}}</h1>
        <p class="text-muted"><small>{{class}}</small></p>
    </div>
    {% if current_user.user_id == user.user_id %}
    <div class="col-md-1">
        <a href="/update_password">Change password</a>
    </div>
    {% endif %}
</div>
<hr/>
{{user.user_id}}
{% endblock %}