{% extends "base.html" %}
{% block title %}{{user.first_name}}'s Profile{% endblock %}
{% if user.role == "client" %}
{% set class = "Trainee" %}
{% elif user.role == "fitness_professional" %}
{% set class = "Trainer" %}
{% else %}
{% set class = "Admin" %}
{% endif %}
{% block content %}
<link rel="stylesheet" type= "text/css" href= "{{ url_for('static', filename='landing.css') }}">

<h2 style="text-align: center; background-color: #C5D9D7; padding: 1em;"> Help us log your calories for the week!</h2>

<div class = "progress-flex">
    <div class = "chart-form">
        <h2>My Progress</h2>
        <h3>Weekly Calorie Intake</h3>
        <canvas id="myChart" width="600" height="500"></canvas>
    </div>
        <div class = "progress-form">
            <form method = "POST">
                <h2> Today's Date: {{todays_date}}</h2>
                <p></p>
                <h2>Weekly Calorie Goal: {{ calorie_total }} / {{calorie_goal}}</h2>
                <h3> {{calorie_string}}</h3>
                <input type="calorie_goal" name="calorie_goal" placeholder="Update Weekly Calorie Goal" class="form-control" >
                <div class="form-group">
                    <button class="btn btn-primary btn-block" name="progress" value="add_goal" type="submit">Update Calorie Goal</button>      
                </div>
                <h3> Log calories here:</h3>
                <label for="day_of_week">Day:</label>
                <select id="day_of_week" name="day_of_week">
                    <option value="Monday">Monday</option>
                    <option value="Tuesday">Tuesday</option>
                    <option value="Wednesday">Wednesday</option>
                    <option value="Thursday">Thursday</option>
                    <option value="Friday">Friday</option>
                    <option value="Saturday">Saturday</option>
                    <option value="Sunday">Sunday</option>
                </select>
                <input type="calories" name="calories" placeholder="calorie intake" class="form-control" >
                <div class="form-group">
                    <button class="btn btn-primary btn-block" name="progress" value="add_cals" type="submit">Add Calories</button>
                </div>
            </form>
        </div>
        <div class ="30day">
            <h2>My Progress</h2>
            <h3>Last 30 Days</h3>
            <canvas id="myChartTakeTwo" width="1000" height="500"></canvas>
        </div>
</div>

    <script>
        Chart.defaults.global.responsive = false;
        var djangoData = "{{ calories | safe }}";
        var split = djangoData.split(",")

        // define the chart data 
        var chartData = {
            labels : ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday'],
            datasets : [{
                label: "Calories",
                fill: true,
                lineTension: 0.1,
                backgroundColor: "rgba(75,192,192,0.4)",
                borderColor: "rgba(75,192,192,1)",
                borderCapStyle: 'butt',
                borderDash: [],
                borderDashOffset: 0.0,
                borderJoinStyle: 'miter',
                pointBorderColor: "rgba(75,192,192,1)",
                pointBackgroundColor: "#fff",
                pointBorderWidth: 1,
                pointHoverRadius: 5,
                pointHoverBackgroundColor: "rgba(75,192,192,1)",
                pointHoverBorderColor: "rgba(220,220,220,1)",
                pointHoverBorderWidth: 2,
                pointRadius: 1,
                pointHitRadius: 10,
                data: split,
                spanGaps: false
            }]
        }
        var ctx = document.getElementById("myChart").getContext("2d");
        var myChart = new Chart(ctx, {type: 'line', data: chartData,});
        
        var jangoData2 = "{{ last_30_days | safe }}";
        var days_split = jangoData2.split(",")
        // define the chart data
        
        var chartData_2 = {
            labels : ['1','2','3','4','5','6','7','8','9','10','11','12','13','14','15','16','17','18','19','20', '21','22','23','24','25','26','27','28','29','30'],
            datasets : [{
                label: "calories",
                fill: true,
                lineTension: 0.1,
                backgroundColor: "rgba(75,192,192,0.4)",
                borderColor: "rgba(75,192,192,1)",
                borderCapStyle: 'butt',
                borderDash: [],
                borderDashOffset: 0.0,
                borderJoinStyle: 'miter',
                pointBorderColor: "rgba(75,192,192,1)",
                pointBackgroundColor: "#fff",
                pointBorderWidth: 1,
                pointHoverRadius: 5,
                pointHoverBackgroundColor: "rgba(75,192,192,1)",
                pointHoverBorderColor: "rgba(220,220,220,1)",
                pointHoverBorderWidth: 2,
                pointRadius: 1,
                pointHitRadius: 10,
                data: days_split,
                spanGaps: false
            }]
        }
        var ctx_2 = document.getElementById("myChartTakeTwo").getContext("2d");
        var myChartTakeTwo = new Chart(ctx_2, {type: 'line', data: chartData_2,});
    </script>
{% endblock %}