{% extends "base.html" %}
{% block title %}Register{% endblock %}
{% block content %}
<div class="container pt-3 h-100">
    <div class="row justify-content-center align-self-center">
    <div class="col-xl-6">
    <div class="card bg-light card-body">
    <form method="POST">
            <h3>Register for FitnessU</h3>
        <div class="form-group">
            <label for="type">I am a...</label>
            <select id="type" name="type" class="form-control" required>
                <option value="1">Trainee</option>
                <option value="2">Trainer</option>
                <option value="3">Administrator</option>
            </select>
        </div>
        <div class="form-group">
            <input type="email" name="email" placeholder="e-mail" class="form-control" required>
        </div>
        <div class="form-group">
            <input type="text" name="f_name" placeholder="first name" class="form-control" required>
        </div>
        <div class="form-group">
            <input type="text" name="l_name" placeholder="last name" class="form-control" required>
        </div>
        <div class="form-group">
            <input type="password" name="password" placeholder="password" class="form-control" required>
        </div>
        <div class="form-group">
            <input type="password" name="confirm" placeholder="confirm password" class="form-control" required>
        </div>
        <div class="form-checkbox">
            <input type="checkbox" id="terms" name="terms" required>
            <label for="terms"> I agree to the Terms of Service and Privacy Policy.</label>
        </div>
        <button type="submit" class="btn btn-primary btn-block">Register</button>
    </form>
    </div>
    </div>
    <div class="col-xl-3">
        <div class="card bg-light card-body h-100">
            <img src="{{ url_for('static', filename='logo_transparent.png') }}" class="center-block" width="auto" height="auto">
            <hr/>
            <p class="text-muted">FitnessU allows for both fitness professionals and trainees to communicate, share content, create workout plans, all in the same place. <a href="/login">Login</a> or join now to participate.</p>
        </div>
    </div>
    </div>
</div>
{% endblock %}