{% extends "base.html" %}
{% block title %}Results for {{query}}{% endblock %}
{% block content %}
<h1>Results for {{query}}</h1>
<hr/>
    <div class="row">
        <div class="col-xl-3">
            <div class="card w-100 mb-2 bg-light">
                <div class="card-body">
                    <h2>Filters</h2>
                    <hr/>
                    <form method="POST">
                        <div class="form-checkbox">
                            <input type="checkbox" id="users" name="users" required>
                            <label for="users">Show users only</label>
                        </div>
                        <div class="form-checkbox">
                            <input type="checkbox" id="content" name="content" required>
                            <label for="content">Show content only</label>
                        </div>
                        <h5 id="date_filter_header" onclick="show_date_filter();">Uploaded</h5>
                        <div id="date_filter" style="display: none">
                            <div class="form-checkbox">
                                <input type="checkbox" id="today" name="today" required>
                                <label for="today">Today</label>
                            </div>
                            <div class="form-checkbox">
                                <input type="checkbox" id="week" name="week" required>
                                <label for="week">This Week</label>
                            </div>
                            <div class="form-checkbox">
                                <input type="checkbox" id="month" name="month" required>
                                <label for="month">This Month</label>
                            </div>
                            <div class="form-checkbox">
                                <input type="checkbox" id="year" name="year" required>
                                <label for="year">This Year</label>
                            </div>
                        </div>
                        <h5>Uploaded</h5>
                        <div class="form-checkbox">
                            <input type="checkbox" id="terms" name="terms" required>
                            <label for="terms">Today</label>
                        </div>
                        <div class="form-checkbox">
                            <input type="checkbox" id="terms" name="terms" required>
                            <label for="terms">This Week</label>
                        </div>
                        <div class="form-checkbox">
                            <input type="checkbox" id="terms" name="terms" required>
                            <label for="terms">This Year</label>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-xl-9">
    {% for result in range(results_len) %}
            <div class="card w-100 mb-2 bg-light">
                <div class="card-body">
                    <div class="row align-items-center">
                        <div class="col-xl-2">
                            <a href="{{ results[result][6] }}">
                                <img src="{{ results[result][5] }}" width="100%" height="auto" alt="Uploaded image">
                            </a>
                        </div>
                        <div class="col-xl-10">
                            <h4><a href="{{ results[result][6] }}">{{ results[result][0] }}</a></h4>
                            <p>{{ results[result][1] }}</p>
                            <p>{{ results[result][2] }}</p>
                            <p>{{ results[result][3] }}</p>
                            <p>{{ results[result][4] }}</p>
                        </div>
                    </div>
                </div>
            </div>
    {% endfor %}
        </div>
    </div>
    <script>
        function show_date_filter() {
            var boxes = document.getElementById('date_filter')
            var header = document.getElementById('date_filter_header')
            if(boxes.style.display == 'block') {
                boxes.style.display = 'none';
                header.innerHTML = 'Uploaded V'
            } else {
                boxes.style.display = 'block';
                header.innerHTML = 'Uploaded ^'
            }
        }
    </script>
{% endblock %}