{% extends "base.html" %}
{% block title %}Update Password{% endblock %}
{% block content %}
<div class="row justify-content-center align-self-center">
    <div class="col-md-9">
        <div class="card bg-light card-body h-100">
            <h2>Update Password</h2>
            <form method="POST">
                <div class="form-group">
                    <input type="password" name="password" placeholder="new password" class="form-control" required>
                </div>
                <div class="form-group">
                    <input type="password" name="confirm" placeholder="confirm password" class="form-control" required>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block">Reset Password</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}