/* color scheme 

  dark teal- #588C87
  light teal - #C5D9D7
  light grey - #F2F2F2
  yellow accent - #E0B31E


*/

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #588C87;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: #F2F2F2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color:  #C5D9D7;
    color: #E0B31E;
    text-decoration: none;
  }

  .active {
    background-color:  #C5D9D7;
  }

  .content-row {
    overflow-x: scroll;
    display: block;
    white-space: nowrap;
    flex-wrap: nowrap;
    background: yellow;
  }

  .content-row.col-xl-4 {
    background: red;
    display: inline-block;
    float: none;
  }